<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-7 col-6 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">we will be happy to help you</p>

            <form action="/" method="post">
                <div class="mb-1">
                    <label for="exampleInputName" class="form-label">Full Name</label>
                    <input type="name" class="form-control" id="exampleInputName" name="name">
                </div>

                <div class="mb-1">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-1">
                    <label for="exampleInputPhone" class="form-label">Phone Number</label>
                    <input type="phone" class="form-control" id="exampleInputPhone" name="phone">
                </div>

                <div class="mb-1">
                    <label for="exampleInputMessage" class="form-label">Message</label>
                    <input type="message" class="form-control" id="exampleInputMessage" rows="4" name="message">
                </div>

                <button type="submit" class="btn-style btn-primary mt-5"> Submit</button>
            </form>
        </div>
    </div>